[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "cryptoverse"]
	path = cryptoverse
	url = https://github.com/viv-analytics/cryptoverse
	shallow = true
	registered = true
